html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  background-color: black;
  height: 90vh;
}

.home {
  text-align: center;
  background-image: url("../public/header.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.home h1 {
  color: white;
  padding-top: 50px;
  font-size: 3em;
}

.home h2 {
  color: gray;
  padding-top: 10px;
  font-size: 1.5em;
}

.home .imgInvert {
  margin-top: 50px;
  filter: invert(1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 0px 0px 0px 50px;
}

.container_center * {
  margin: 0 auto 0 auto;
}

.carousel {
  background-color: black;
  border-bottom: 1px solid white;
}

.carousel img {
  width: auto;
  height: 500px;
  object-fit: contain;
  max-height: 100vh;
}

.carousel-inner {
  padding-bottom: 200px;
}
.carousel-caption {
  bottom: -170px;
}

.row {
  background-color: black;
}

.col {
  background-color: black;
}

.card {
  margin: 10px 10px 10px 10px;
}

.card .card-header {
  background-color: honeydew;
}

.spinner-div {
  width: 100%;
  padding-top: 250px;
  text-align: center;
}

.navbar {
  border-top: 1px solid black;
}
